@charset "UTF-8";
/* list.blade.php（商品情報画面） */
/* 検索フォーム */
/* .form-search{
    padding: 30px 0 0 0;
}

p{
    margin: 30px 0 -15px 0;
}
.form-search{
    width: 50%;
}



.good1{
    padding: 20px 0;
   

}


.btn-info {
    width: 70px;
    padding: 5px;
    height: 30px;
    text-align: center;
   
    align-items: center;
    cursor: pointer;
} */

/* リスト */

/* table {
    position: absolute;
    top:auto;
    left: 50%;
    transform: translateX(-50%);
    margin: 60px 0;
    width: 700px;
    
}
  */



